# Node dependencies
node_modules/

# Logs
logs/
*.log

# Env files
.env
*.env

# Nginx SSL keys
nginx/ssl/
*.pem
*.crt
*.key

# Backups
backups/*

# Compiled builds
dist/
build/

# Docker artifacts
*.pid
