@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(22, 40, 66);
  --navbar: rgb(42, 75, 121);
  --link-gold: rgb(194, 155, 57);
  --link-hover: rgb(218, 161, 18);
  --text-light: #eaeaea;
}

body {
  background-color: var(--background);
  color: var(--text-light);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
}

nav {
  background-color: var(--navbar);
  color: var(--link-gold);
}

a {
  color: var(--link-gold);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--link-hover);
}

a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: var(--link-hover);
  transition: width 0.4s ease-in-out;
}

a:hover::after {
  width: 100%;
}

.link-hover-effect {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.link-hover-effect:hover {
  color: var(--link-hover);
}

html {
  scroll-behavior: smooth;
}

.snap-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  transition: all 1s ease-in-out;
}

section {
  scroll-snap-align: start;
  max-width: 100vw;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid var(--link-gold);
  padding-top: 1.5rem;
}

nav img {
  transition: transform 0.3s ease-in-out;
}

nav img:hover {
  transform: scale(1.1);
}

.flag-btn {
  transition: transform 0.3s ease-in-out;
}

.flag-btn:hover {
  transform: scale(1.1);
}

nav {
  transition: all 0.3s ease-in-out;
}

.swiper-button-next,
.swiper-button-prev {
  width: 32px !important;
  height: 32px !important;
  color: #c29b39 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 24px !important;
    height: 24px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px !important;
  }
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 18px !important;
    height: 18px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 12px !important;
  }
}

@media (max-width: 415px), (max-height: 850px) {
  .hide-tech-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .center-vertical-tablet {
    justify-content: center !important;
  }
  .mt-tablet-zero {
    margin-top: 0 !important;
  }
}
@media (min-width: 1024px) {
  .mt-title-pc {
    margin-top: 6rem !important; /* mt-24 */
  }
}
